body{
    font-family: Arial;
    margin: 40px;
}

input, select, button{
    padding: 10px;
    margin: 5px;
}

table{
    border-collapse: collapse;
    margin-top: 20px;
}

th{
    background: #333;
    color: white;
}

td, th{
    padding: 10px;
}